@import '../valo/valo.scss';

@mixin main {
  @include valo;

  /* Other styles will be located here
    Not recommended for Production use!*/

  .chat-main-layout {
  }

  .user-list {
    border-right: 2px solid darkgrey;
    padding: 10px;
  }

  .v-slot-user-tile {
    height: 7% !important;
  }

  .v-window-outerheader {
    border-bottom: 2px solid darkgrey;
  }

  .send-layout {
    margin: 10px;
  }

  .send-button {
    margin: 5px;
  }

  .user-tile {
    cursor: pointer;

    &:hover {
      background-color: aquamarine;
    }

    &:active {
      background-color: aqua;
    }
  }

  .user-selected {
    background-color: aqua;
  }

  .chat-conversation {
    border-radius: 2px;
    margin-top: 10px;
  }

  .conversation-message-recipient {
    border-radius: 4px;
    background-color: rgba(255, 160, 122, .5);
    padding: 5px;
    margin: 5px;
  }

  .conversation-message-author {
    border-radius: 4px;
    background-color: rgba(154, 205, 50, .5);
    padding: 5px;
    margin: 5px;
  }

  .conversation-message-author-name {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid darkgrey;
  }

  .conversation-message-date {
    font-size: 12px;
    font-style: italic;
    color: white;
  }

  .user-online > .v-icon {
    color: greenyellow;
  }

}
