*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
// Defines how much 1 rem is in order to claculate it easily
font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.login-form {
    margin: 0 auto;
}
